body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 40px;
    color: #333;
}

a.button, button {
    display: inline-block;
    padding: 15px 30px;
    margin: 20px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

a.button:hover, button:hover {
    background-color: #0056b3;
}

form.form-bloc {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

img {
    max-width: 100%;
    margin-top: 20px;
}

#map {
    height: 100vh;
    width: 100vw;
}


.flash-messages-modal {
    margin: 10px 0;
}
.flash-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
}

.flash-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 5px;
}


#client-error {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}
